body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Hacer que la barra de navegación ocupe todo el ancho */
}

    .topnav {
        background-color: #333;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .topnav a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 10px 20px;
    }

    .topnav a.active {
        background-color: #007bff;
    }

.container {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

span {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-registrarse {
  background-color: #3498db;
}

.btn-primary {
  background-color: #4CAF50;
}

.btn, .btn-registrarse {
  display: inline-block;
  margin-right: 10px;
}

