{{#partial "contenido" }}
    <link rel="stylesheet" type="text/css" href="css/loginCompleto.css">
    <div class="header">
  <h1>Sistema de Apoyo a Comunidades con Movilidad Reducida</h1>
</div>

<div class="container">
  <h2>Reporta Incidentes</h2>
  <h3>Y ayuda a la gente a movilizarse</h3>
  <p>Las personas con movilidad reducida, ya sea de forma permanente o temporal, </p>
  <p>a menudo enfrentan desafíos significativos al desplazarse por la ciudad. </p>
  <p>Además, no podemos olvidar a aquellos que llevan a sus pequeños hijos, </p>
  <p>quienes también pueden verse afectados. En esta página, exploraremos los </p>
  <p>obstáculos comunes que enfrentan y cómo podemos hacer que la ciudad sea más accesible para todos.</p>
    {{#if logeado}}
    {{else}}
        <a href="/usuarios" class="btn btn-registrarse">Registrarse</a>
    {{/if}}
</div>

<div class="integrantes">
  <h2>Integrantes:</h2>
  <ul>
    <li>Martín Simón</li>
    <li>Luca Prestia</li>
    <li>Juan Polito</li>
    <li>Federico Bietti</li>
    <li>Santiago Martini</li>
  </ul>
</div>

<div class="footer">
  <p>Derechos de autor © 1948-2023 UTN</p>
  <p>Av. Medrano 951 - 011 4867-7500</p>
</div>
{{/partial}}
{{> templates/base }}
